.viewFormHugging {
  height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: "Roboto" !important;
  line-height: normal;
  font-size: 14px;
  text-transform: none;
  .profileForm {
    background-color: #ffffff;
    .profile_name {
      color: #000000;
      font-size: 22px;
      text-align: center;
    }
    .setImg {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      color: #d4dde1;
    }
    .divElement {
      color: #000000;
      font-size: 22px;
      text-align: center;
      background-color: transparent !important;
      border: none !important;
      border-bottom: 1px solid #dcdcdc !important;
      color: #404040 !important;
      margin: 0 !important;
      outline: none !important;
      padding: 12px 0 !important;
      text-align: center !important;
      width: 100% !important;
      box-shadow: none !important;
    }
    .LibraryItem {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 1px solid #dcdcdc !important;
      color: #404040 !important;
      margin: 0 !important;
      outline: none !important;
      padding: 12px 0 !important;
      text-align: center !important;
      width: 100% !important;
      box-shadow: none !important;
    }
    &:focus {
      border: none !important;
    }
  }
  input {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #dcdcdc !important;
    color: #404040 !important;
    margin: 0 !important;
    outline: none !important;
    padding: 12px 0 !important;
    text-align: center !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  .profileheight {
    height: 80px;
  }
  .profileHugging {
    background: #d4dde1;
    width: 120px;
    height: 120px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 130px;
    top: 75px;
  }
  .profileButtons {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #e3d4ff;
    text-transform: none;
    .editprofile {
      background: var(--primary);
      border: none;
      border-radius: 50px;
      color: var(--white);
      width: 150px;
      height: 35px;
      font-size: 16px;
      margin: 8px;
      font-weight: normal;
      text-transform: none;
      padding: 0;
      letter-spacing: normal;
    }
    .deleteprofile {
      background: var(--secondary);
      border: none;
      border-radius: 50px;
      color: var(--white);
      width: 150px;
      height: 35px;
      font-size: 16px;
      margin: 8px;
      font-weight: normal;
      text-transform: none;
      padding: 0;
      letter-spacing: normal;
    }
  }
}
.profileIcon {
  position: relative;
}
.handleImage {
  opacity: 0;
  z-index: 1;
  position: absolute;
  height: 100%;
}
.logoutBG {
  background-color: #f5f5f5 !important;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .editprofile2 {
    background: var(--primary);
    border: none;
    border-radius: 50px;
    color: var(--white);
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin: 8px;
    font-weight: normal;
    text-transform: none;
    padding: 0;
    letter-spacing: normal;
  }
}
