$primary: #713DDA;;
$secondary: #404040;
$icon:#767676;
$white:#FFFFFF;
$black:#101010;
:root{
   --primary: #{$primary};
   --secondary: #{$secondary};
   --icon:#{$icon};
   --white:#{$white};
   --black:#{$black};
}
